*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  font-size: 18px;
  height: 100%;
  line-height: 1;
  color: #00486D;/*   #99B6C5   */
}
.quiz {
  height: 100%;
}

.container {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
} 

[class*="__wrapper"] {
  max-width: 1360px;
  height: 100%;
  padding: 0px 80px;
}
/*================================*/

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0px;
  align-items: center;
}

.header__logo img {
  height: 50px;
}
.header__title {
  font-size: 38px;
}

.start-button {
  width: 200px;
  height: 30px;
  background-color: #00486D;
  color: #fff;
  cursor: pointer;
}

.main__wrapper{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.main__progress {
  width: 100%;
  height: 10px;
  display: grid;
  gap: 2px;
  margin-bottom: 1px;
}

.progress-item {
  border: 1px solid rgb(152, 228, 235);
}

.gold {
  background-color: rgb(237, 230, 104);
  border-color: rgb(237, 230, 104);
}

.cyan {
  background-color: rgb(152, 228, 235);
  border-color: rgb(152, 228, 235);
}

.main__question {
  flex: 1 1 auto;
  color: #000;
  display: flex;
  justify-content: center;
  background-image: url(/img/start.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__question p {
  text-align: center;
  margin-top: 20px;
}
.question-block-question {
  padding-top: 5px;
  padding-bottom: 80px;
  text-align: center;
}
.question-block-note {
  text-align: center;
}

.timer {
  display: flex;
  font-size: 38px;
  color: #00486D;
  z-index: 1;
  gap: 10px;
  margin-bottom: 5px;
}

.timer-minutes,
.timer-seconds{
  padding: 2px;
  border: 2px solid #00486D;
  border-radius: 5px;
}

.result {
  font-size: 46px;
  color: #00486D;
  text-align: center;
}

.correct-result {
  margin-top: 50px;
  margin-bottom: 40px;
}

.answer__list {
  height: 60px;
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  gap: 10px;
}
.answer__item {
  margin-top:10px;
  margin-bottom: 5px;
  padding: 10px 5px;
  border: 2px solid #00486D;
  border-radius: 10px;
  text-align: center;
  align-items: baseline;
}

.chouse__item {
  border: 4px solid rgb(237, 230, 104);
}
.right__item {
  background-color: rgb(237, 230, 104);
}
.wrong__item {
  background-color: rgb(152, 228, 235);
}

.answer__item:hover {
  cursor: pointer;
}

.main__btn {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;  
  gap: 10px;
}

.main-button-answer {
  width: 66.66%;
  height: 100%;
  background-color: aqua;
  border-radius: 8px;
}

.main-button-answer:hover {
  cursor: pointer;
}

.main-button-next {
  border-radius: 8px;
  width: 33.33%;
  height: 100%;
  background-color: gold;
}

.main-button-next:hover {
  cursor: pointer;
}

.footer{
  background-color: #00486D;
  padding: 5px 0px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  color: #fff;
  font-size: 12px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 5px
}